# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Keys redis-command'
      'command': 'redis-command:keys'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'redis-command'
      'submenu': [
        {
          'label': 'Keys'
          'command': 'redis-command:keys'
        }
      ]
    ]
  }
]
